body{
    width: 70%;
    margin: 0 auto;
    background: black;
}

header, footer, main{
    background-color: #c3bebd;
}

footer p{
    margin: 0;
    padding: 20px 0;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

header img{
    width: 10%;
}

main img{
    width: 400px;
    height: 300px;
    border: 6px solid rgb(88, 86, 95);
    margin: 20px 0;
}

p{
    font-size: 20px;
    text-align: center;
    color: #7577aa;
}

#inventory{
    border: 6px solid rgb(30, 30, 32);
    width: 300px;
    height: 100px;
    margin: 10px auto;
}

#inventory img{
    width: 100px;
    height: 100px;
    margin: 0;
    border: none;
}

#story{
    width: 80%;
    min-height: 280px;
    margin: 0 auto;
}

#story{
    border: 6px solid rgb(30, 30, 32);
}

.hidden{
    display: none;
}

#choices p {
  cursor: pointer;
  color: #70003a;
  padding: 8px;
  border-radius: 8px;
  margin: 5px;
  text-align: center;
  transition: background 0.3s;
}

#choices p:hover {
  background: #847e82;
}

.assombrir{
    transition-duration: 10s;
    filter: brightness(0);
}